

body {
    font-family: 'Roboto', sans-serif; 
  }

header {
    background-color: #70816c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px; 
    position: sticky;
    top: 0; 
}

li { 
    display: inline-block;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(255, 0, 0);
    padding: 0px 20px;
}

body {
    background-color: #968315; 
    margin: 0;
    padding: 0;
  }